apiVersion: apps/v1
kind: Deployment
metadata:
  name: service2
  namespace: rabbitmq-demo
spec:
  selector:
    matchLabels:
      app: service2
  template:
    metadata:
      labels:
        app: service2
    spec:
      containers:
      - name: service2
        image: rabbitmq_demo/service2:v1
        resources:
          limits:
            memory: "128Mi"
            cpu: "500m"
        ports:
        - containerPort: 5000
        envFrom:
        - configMapRef:
            name: rabbitmq-config
---
apiVersion: v1
kind: Service
metadata:
  name: service2
  namespace: rabbitmq-demo
  labels:
    app: service2
spec:
  type: NodePort
  ports:
  - port: 80
    targetPort: 5000
  selector:
    app: service2
